<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto</title>
</head>
<body>
    <h1>{{objeto.nombreP}}</h1>
    <ul>
        {% for i in objeto.tareadb_set.all  %}
        <li>
            <h2> {% if i.done == False%} 🕔 {% else %} ✅ {% endif %}{{i.nombreT}} </h2>
                 
        
        <form action="{% url 'actualizar_item' i.id %}" method="post">  
            {% csrf_token %}       
            <button type="submit"> ✅ Done </button>    
        </form> 
    </li>   
        {% endfor %}
        
    </ul>
</body>
</html>